<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IUserService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:25954/ServiceContracts/UserService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUserService"
                contract="UserServiceReference.IUserService" name="WSHttpBinding_IUserService">
                <identity>
                    <userPrincipalName value="Admin-PC\Admin" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>