@using Common.Resources

@{
    ViewBag.Title = "Home Page";
}

@*<div ng-view></div>*@

<users></users>

<script type="text/ng-template" id="users.html">
    @Html.Partial("_Users")
</script>

<script type="text/ng-template" id="yesNoDialog.html">
    @Html.Partial("_YesNoDialog")
</script>

<script type="text/ng-template" id="editUserDialog.html">
    @Html.Partial("_EditUserDialog")
</script>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}