@using Common.Resources

<div class="modal-header">
    <h4 class="modal-title">{{vm.content.title}}</h4>
</div>
<div class="modal-body">
    <h5>{{vm.content.message}}</h5>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="vm.ok()">@Titles.Yes</button>
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">@Titles.No</button>
</div>