html {
    font-size: 10px;
}

body {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 28rem;
}

.awa-users-page {
    .awa-search-form {
        margin-bottom: 2rem;
    }

    .awa-users {
        table-layout: fixed;
        width: 100%;

        td {
            vertical-align: middle;
        }

        .awa-actions {
            text-align: left;
            width: 15rem;
        }
    }

    .awa-actions {
        text-align: right;
    }
}


/* INFO AND ERRORS
---------------------------------------------------------*/
@error-color: indianred;

.field-validation-error {
    color: @error-color;
    font-weight: 600;
}

input.input-validation-error,
textarea.input-validation-error,
select.input-validation-error,
input.ng-invalid.ng-dirty,
textarea.ng-invalid.ng-dirty,
button.input-validation-error,
button.ng-invalid {
    border: 1px solid @error-color !important;
}


input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: @error-color;
}

.validation-summary-valid {
    display: none;
}