html {
  font-size: 10px;
}
body {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 28rem;
}
.awa-users-page .awa-search-form {
  margin-bottom: 2rem;
}
.awa-users-page .awa-users {
  table-layout: fixed;
  width: 100%;
}
.awa-users-page .awa-users td {
  vertical-align: middle;
}
.awa-users-page .awa-users .awa-actions {
  text-align: left;
  width: 15rem;
}
.awa-users-page .awa-actions {
  text-align: right;
}